---
import Layout from "../layouts/Layout.astro";
import EducationSection from "../sections/EducationSection.astro";
import ExperienceSection from "../sections/ExperienceSection.astro";
import ReferenceAndRecommendationSection from "../sections/FooterSection.astro";
---

<Layout title="RussellSnyder_CV_EN">
  <main class="p-6">
    <div class="mb-8">
      <ExperienceSection language="en" />
    </div>
    <div class="mb-6">
      <EducationSection />
    </div>
    <ReferenceAndRecommendationSection />
  </main>
</Layout>
