---
import type { CollectionEntry } from "astro:content";
import Dot from "./Dot.astro";
interface Props {
  education: CollectionEntry<"education">;
}

const { education } = Astro.props;
const {
  data: { title, organization, date },
} = education;
const { Content } = await education.render();
---

<div class="mb-3 text-center">
  <h4 class="text-lg font-bold leading-none">
    {title}
  </h4>
  <div class="text-sm text-gray-600">
    {organization}
    <Dot size={5} />
    {date}
  </div>
  <div class="content text-sm leading-none">
    <Content />
  </div>
</div>
