---
import { Image } from "astro:assets";
import russellFace from "../assets/russell_face.png";
import Dot from "../components/Dot.astro";
---

<header class="bg-sky-100 mb-4 md:mt-8 sm:mt-0">
  <div class="p-4 grid sm:grid-cols-5 gap-7 sm:items-center">
    <div class="sm:col-span-1">
      <Image
        class="sm:object-cover max-w-32 m-auto sm:m-0"
        src={russellFace}
        alt="Russell looking like somebody you want to hire!"
      />
    </div>
    <div class="text-center sm:text-left sm:col-span-4">
      <h1 class="text-2xl sm:text-4xl uppercase">Russell Evan Snyder</h1>
      <h2 class="text-xl sm:text-3xl text-gray-600 uppcase">
        Senior Software Engineer
      </h2>
      <div
        class="text-sm sm:text-base text-center mt-3 text-gray-500 sm:flex items-center"
      >
        <div>Erlangen, Germany</div>
        <Dot size={6} className="mx-2 hidden sm:block" />
        <div>+4917645766404</div>
        <Dot size={6} className="mx-2 hidden sm:block" />
        <div>russellevansnyder@gmail.com</div>
      </div>
    </div>
  </div>
</header>
