---
import SectionHeader from "./SectionHeader.astro";

interface Props {
  title: string;
  centerTitle?: boolean;
}

const { title, centerTitle } = Astro.props;
---

<div class="mb-4">
  <SectionHeader title={title} center={centerTitle} />
  <slot />
</div>
