---
interface Props {
  title: string;
  small?: boolean;
  center?: boolean;
}

const { title, small, center } = Astro.props;
---

<h3
  class={`${center ? "text-center " : ""}${small ? "text-xl" : "text-2xl"} text-gray-500 font-semibold mb-${small ? 0 : 2}`}
>
  {title}
</h3>
