---
import Layout from "../../layouts/Layout.astro";
import EducationSection from "../../sections/EducationSection.astro";
import ExperienceSection from "../../sections/ExperienceSection.astro";
import ReferenceAndRecommendationSection from "../../sections/FooterSection.astro";
---

<Layout language="de" title=`RussellSnyder_CV_DE`>
  <main class="p-6">
    <div class="mb-4">
      <ExperienceSection language="de" />
    </div>
    <div class="mb-6">
      <EducationSection language="de" />
    </div>
    <ReferenceAndRecommendationSection language="de" />
  </main>
</Layout>
