---
import Header from "../components/Header.astro";
import type { SupportedLanguage } from "../types";

interface Props {
  language?: SupportedLanguage;
  title: string;
}

const { title, language } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-screen-md m-auto mb-12 md:mb-0">
    <Header language={language} />
    <slot />
  </body>
</html>
<style is:global>
  .content ul {
    margin-left: 20px;
  }
  .content li {
    list-style-type: disc;
    line-height: 1.25;
  }
  a {
    text-decoration: underline;
  }
  p {
    line-height: 1.1;
  }
</style>
